<div class="container">
  <div id="navbar">
    <div class="nav-left">
      <img src="assets/image.png" alt="Logo" class="logo" />
      <span class="site-name">URLNest</span>
    </div>
    <div class="nav-right">
      <a href="#">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>

  <div id="main">
    <div id="search-head">
      <h2>Quickly search and view the links</h2>
      <div id="search-icon">
        <div class="input-wrapper">
          <input type="text" [(ngModel)]="queryText" placeholder="Type Something..." id="input-bar" />
        </div>
        <button (click)="submitQuery()">Search</button>
      </div>
    </div>

    <table *ngIf="results.length > 0" class="link-table">
      <thead>
        <tr>
          <th>Link Name</th>
          <th>Link URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results">
          <td>{{ item.title }}</td>
          <td><a [href]="item.url" target="_blank">{{ item.url }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>